body {
    background-color: lightgray;
}


footer {
    position:absolute;
    bottom:0;
    width: 100%;
}

.example-wrapper {
    margin-left: 20%;
}

.github {
    margin-left: 10%;
}

h1 {
    margin-left: 12%;
}
p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
}


.accueil{
    margin-left: 18%;
}


/* Media Queries */

@media (min-width: 1200px) and (max-width: 1920px) {
	.container {
		width: 100%;
		max-width: 1250px;

}

@media (min-width: 992px) and (max-width: 1199px) { 



}

@media (min-width: 768px) and (max-width: 991px) { 


}

@media (min-width: 576px) and (max-width: 767px) {

	}
}